body {
    text-align: center;
    font-family: "ubuntu";
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.burger-menu-container {
    display: none;
}

.nav-menu {
    display: none;
}

.div {
    height: auto; /* Hauteur égale à 100% de la hauteur de la fenêtre d'affichage */
    width: 100vw;  /* Largeur égale à 100% de la largeur de la fenêtre d'affichage */
    padding: 30px;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
}

#home {
    background-image: url(img/background-ai-artificial-intelligence-wording-with-the-circuit-design-vector.jpg);
    background-size: cover;
    background-position: center;
    color: ghostwhite;
    font-size: 20px;
    font-weight: bold;
    align-content: center;
}

#home p {
    margin-top: 50px;
}


/* Style de la navbar */
.navbar {
    overflow: hidden;
    background-color: #33333370;
    position: fixed; /* Fixé en haut de la page */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
  }
  
  /* Style des liens de la navbar */
  .navbar a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  /* Changement de couleur au survol */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Style du contenu principal */
  .content {
    margin-top: 60px; /* Ajoute une marge en haut pour ne pas que le contenu soit caché par la navbar */
  }
  




#chatgpt {
    /* background-color: #007EA7; */
    background-image: url(img/gpt_background1.png);
    background-size: cover;
    background-position: center;
    color: ghostwhite;
    font-size: 18px;
    font-weight: bold;
}

#chatgpt h1 {
    font-size: 61px;
    text-decoration: underline;
}
#chatgpt h3 {
    margin-top: -46px;
    font-size: 30px;
}

#gemini {
    /* background-color: #62bbc5; */
    background-image: url(img/speechify_background.png);
    color: ghostwhite;
    font-size: 21px;
    font-weight: bold;
}

#gemini h1 {
    font-size: 70px;
    text-decoration: underline;
}
#gemini h3 {
    margin-top: -40px;
    font-size: 27px;
}

#midjourney {
    /* background-color: #a7dbde; */
    background-image: url(img/midjourney_background1.png);
    background-size: cover;
    background-position: center;
    color: ghostwhite;
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
}

#midjourney h1 {
    font-size: 70px;
    text-decoration: underline;
}
#midjourney h3 {
    margin-top: -40px;
    font-size: 23px;
}

#runway {
    background-image: url(img/runway_background.png);
    background-size: cover;
    background-position: center;
    color: ghostwhite;
    font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
}

#runway h1 {
    font-size: 70px;
    text-decoration: underline;
}
#runway h3 {
    margin-top: -40px;
    font-size: 23px;
}

#autopilot {
    background-image: url(img/tesla-model-s-wallpaper-image.jpg);
    background-size: cover;
    background-position: center;
    color: ghostwhite;
    font-size: 19px;
    font-weight: bold;
    padding-top: 0px;
}

#autopilot h1 {
    font-size: 50px;
    text-decoration: underline;
}

#autopilot h3 {
    margin-top: -20px;
    font-size: 25px;
}





/* Style du Modal (background) */



#btn1 {
    border-radius: 50px;
    width: 150px;
    height: 75px;
    font-size: 20px;
    font-weight: bolder;
}
#btn2 {
    border-radius: 50px;
    width: 150px;
    height: 75px;
    font-size: 20px;
    font-weight: bolder;
}
#btn3 {
    border-radius: 50px;
    width: 150px;
    height: 75px;
    font-size: 20px;
    font-weight: bolder;
}
#btn4 {
    border-radius: 50px;
    width: 150px;
    height: 75px;
    font-size: 20px;
    font-weight: bolder;
}
#btn5 {
    border-radius: 50px;
    width: 150px;
    height: 75px;
    font-size: 20px;
    font-weight: bolder;
}

.modal {
    display: none; /* Caché par défaut */
    position: fixed; /* Reste en place même lors du scroll */
    z-index: 1; /* Se situe au-dessus */
    left: 0;
    top: 0;
    width: 100%; /* Pleine largeur */
    height: 100%; /* Pleine hauteur */
    overflow: auto; /* Permet le scroll si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond */
    background-color: rgba(0,0,0,0.4); /* Noir avec opacité */
}

.modal img {
    width: 1080px;
    height: 720px;
}

/* Style du contenu du Modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré horizontalement */
    padding: 20px;
    border: 1px solid #888;
    width: 90%; /* Largeur du contenu */
}

/* Bouton pour fermer le modal */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




  



/* responsive tablette :*/




@media screen and (min-width: 601px) and (max-width: 1024px) {

    .burger-menu-container {
        display: none;
    }
    
    .nav-menu {
        display: none;
    }

    .div {
        height: auto; /* Hauteur égale à 100% de la hauteur de la fenêtre d'affichage */
        width: 100vw;  /* Largeur égale à 100% de la largeur de la fenêtre d'affichage */
        padding: 30px;
        overflow-x: hidden;
        overflow-y: hidden;
        box-sizing: border-box;
    }
    
    #home {
        background-image: url(img/background-ai-artificial-intelligence-wording-with-the-circuit-design-vector.jpg);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 16px;
        font-weight: bold;
    
    }
    
    #home p {
        margin-top: 50px;
    }
    
    /* Style de la navbar */
    .navbar {
        overflow: hidden;
        background-color: #33333370;
        position: fixed; /* Fixé en haut de la page */
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: space-between;
      }
      
      /* Style des liens de la navbar */
      .navbar a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 18px;
      }
      
      /* Changement de couleur au survol */
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Style du contenu principal */
      .content {
        margin-top: 60px; /* Ajoute une marge en haut pour ne pas que le contenu soit caché par la navbar */
      }    
    
    #chatgpt {
        /* background-color: #007EA7; */
        background-image: url(img/gpt_background1.png);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 14px;
        font-weight: bold;
    }
    
    #chatgpt h1 {
        font-size: 50px;
        text-decoration: underline;
    }
    #chatgpt h3 {
        margin-top: -40px;
        font-size: 25px;
    }
    
    #gemini {
        /* background-color: #62bbc5; */
        background-image: url(img/speechify_background.png);
        color: ghostwhite;
        font-size: 17px;
        font-weight: bold;
    }
    
    #gemini h1 {
        font-size: 70px;
        text-decoration: underline;
    }
    #gemini h3 {
        margin-top: -40px;
        font-size: 27px;
    }
    
    #midjourney {
        /* background-color: #a7dbde; */
        background-image: url(img/midjourney_background1.png);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 15px;
        font-weight: bold;
        padding-top: 0px;
    }
    
    #midjourney h1 {
        font-size: 50px;
        text-decoration: underline;
    }
    #midjourney h3 {
        margin-top: -40px;
        font-size: 20px;
    }
    
    #runway {
        background-image: url(img/runway_background.png);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 14px;
        font-weight: bold;
        padding-top: 0px;
    }
    
    #runway h1 {
        font-size: 55px;
        text-decoration: underline;
    }
    #runway h3 {
        margin-top: -40px;
        font-size: 23px;
    }
    
    #autopilot {
        background-image: url(img/tesla-model-s-wallpaper-image.jpg);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 15px;
        font-weight: bold;
        padding-top: 0px;
    }
    
    #autopilot h1 {
        font-size: 40px;
        text-decoration: underline;
    }
    
    #autopilot h3 {
        margin-top: -20px;
        font-size: 15px;
    }
}




/* responsive mobile :*/


@media screen and (max-width: 650px) {
    .div {
        height: auto; /* Hauteur égale à 100% de la hauteur de la fenêtre d'affichage */
        width: 100vw;  /* Largeur égale à 100% de la largeur de la fenêtre d'affichage */
        padding: 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        box-sizing: border-box;
    }

    /* Style du menu burger */
.burger-menu-container {
    cursor: pointer;
    display: inline-block;
    position: fixed;
    justify-content: flex-start;
    margin-top: 10px;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #b0a9a9;
    margin: 8px 0;
    transition: 0.4s;
  }
  
  /* Style du menu caché */
  .nav-menu {
    display: none;
    background-color: #f9f9f9;
    top: 0;
    width: 200px;
  }
  
  .nav-menu ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-menu ul li {
    padding: 12px;
    border-bottom: 1px solid #eaeaea;
  }
  
  .nav-menu ul li a {
    color: black;
    text-decoration: none;
    display: block;
  }
  
  /* Affichage du menu sur clic */
  .nav-menu.show {
    display: block;
  }
  
    
    #home {
        background-image: url(img/background-ai-artificial-intelligence-wording-with-the-circuit-design-vector.jpg);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 15px;
        font-weight: bold;
    }
    
    #home p {
        margin-top: 75px;
    }
    
    /* Style de la navbar */
    .navbar {
        overflow: hidden;
        background-color: #33333370;
        position: fixed; /* Fixé en haut de la page */
        top: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: space-around;
        display: none;
      }
      
      /* Style des liens de la navbar */
      .navbar a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 13px;
      }
      
      /* Changement de couleur au survol */
      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }
      
      /* Style du contenu principal */
      .content {
        margin-top: 60px; /* Ajoute une marge en haut pour ne pas que le contenu soit caché par la navbar */
      }
    
    #chatgpt {
        /* background-color: #007EA7; */
        background-image: url(img/gpt_background1.png);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 14px;
        font-weight: bold;
    }
    
    #chatgpt h1 {
        font-size: 50px;
        text-decoration: underline;
    }
    #chatgpt h3 {
        margin-top: -40px;
        font-size: 25px;
    }
    
    #gemini {
        /* background-color: #62bbc5; */
        background-image: url(img/speechify_background.png);
        color: ghostwhite;
        font-size: 16px;
        font-weight: bold;
    }
    
    #gemini h1 {
        font-size: 50px;
        text-decoration: underline;
    }
    #gemini h3 {
        margin-top: -40px;
        font-size: 25px;
    }
    
    #midjourney {
        /* background-color: #a7dbde; */
        background-image: url(img/midjourney_background1.png);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 14px;
        font-weight: bold;
    }
    
    #midjourney h1 {
        font-size: 45px;
        text-decoration: underline;
    }
    #midjourney h3 {
        margin-top: -40px;
        font-size: 15px;
    }
    
    #runway {
        background-image: url(img/runway_background.png);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 13px;
        font-weight: bold;
    }
    
    #runway h1 {
        font-size: 50px;
        text-decoration: underline;
    }
    #runway h3 {
        margin-top: -40px;
        font-size: 20px;
    }
    
    #autopilot {
        background-image: url(img/tesla-model-s-wallpaper-image.jpg);
        background-size: cover;
        background-position: center;
        color: ghostwhite;
        font-size: 14px;
        font-weight: bold;
        padding-top: 0px;
    }
    
    #autopilot h1 {
        font-size: 35px;
        text-decoration: underline;
    }
    
    #autopilot h3 {
        margin-top: -20px;
        font-size: 15px;
    }
}